#board {
	background: yellow;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0;
	padding-right: 0;
	display: block;
}

h1 {
	margin: 0;
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 80px;
	color: red;
	text-shadow: 4px 4px #330099;
}


a {
	position: absolute;
	left: 1400px;
	top: 300px;
	font-size: 30px;
}

#turn {
	text-align: center;
	font-size: 30px;
}

button {
	position: absolute;
	top: 370px;
	left: 1380px;
	font-size: 30px;
}

#winner {
	text-align: left;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 60px;
	margin-left: 20%;

	-webkit-animation: moveStart 20s infinite;
	animation: moveStart 20s infinite;
}

@-webkit-keyframes moveStart {
	0%	{color: red; margin-left: 30%;}
	25%	{color: blue; margin-left: 50%;}
	50%	{color: green; margin-left: 30%;}
	75%	{color: yellow; margin-left: 50%;}
	100%{color: red; margin-left: 30%;}
}

@keyframes moveStart {
	0%	{color: red; margin-left: 30%;}
	25%	{color: blue; margin-left: 50%;}
	50%	{color: green; margin-left: 30%;}
	75%	{color: yellow; margin-left: 50%;}
	100%{color: red; margin-left: 30%;}
}